{% extends 'expense_base.html' %}
{% block content %}

<div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Expense Tracker</h3>
            <strong>ET</strong>
        </div>

        <ul class="components">
            <li>
                <a href="#">
                    <i class="fas fa-home" ></i>
                    Home
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-file-alt"></i>
                    Pages
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-user"></i>
                    Portfolio
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-address-book"></i>
                    Contact
                </a>
            </li>
        </ul>
        <a href="#">Log out</a>
    </nav>

    <!-- Page Content Holder -->
    <div id="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-7">
                    <h3 class="year-title">Year Expense</h3>
                    <a href="" class="btn btn-primary add-year-btn" data-toggle="modal" data-target="#exampleModal"><i class="fas fa-plus"></i></a>
                    
                    <div class="form-group has-search search-btn">
                        <span class="fa fa-search form-control-feedback"></span>
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                        <div class="row">
                        {% if year_expense %}
                                <div class="col-3">
                                    <p class="text-secondary">Total Expense</p>
                                    <strong>${{ year_expense }}</strong>
                                </div>
                                <div class="col-6">
                                    <p class="text-secondary">Total Income</p>
                                    <strong>${{ year_expense.annual_salary }}</strong>
                                </div>
                                <div class="col-3">
                                    <p class="text-secondary">Net</p>
                                    <strong>${{ year_expense.money_left }}</strong>
                                </div>
                        {% endif %}
                        </div>
                    <hr>
                    <div class="row">
                        {% if year_expense %}
                            {% for each_year_expense in year_expense %}
                                <div class="year-expense-table">
                                    <div class="card">
                                        <div class="card-body">
                                        <h5 class="card-title">{{ each_year_expense.year }}</h5>
                                        <a href="#" class="close-btn"><i class="fas fa-times"></i></a>
                                        <h6 class="card-text text-secondary">Jan 1 created</h6>
                                        <a href="#" class="btn button-box">Check</a>
                                        <a href="#" class="btn button-box" style="margin-left:10px;">Edit</a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                        <div class="year-expense-table">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">You Do Not have Year Expense, Please Create One</h5>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="row year-budget">
                        <a href="#" class="btn btn-dark">Set up Yearly Budget</a>
                    </div>
                    <div class="row yearly-overview">
                        <h4>Yearly Overview</h4>
                        <div class="col-lg-6 yearly-overview-card">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Expense</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Chart</h6>
                                  <p class="card-text">$120.56</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 yearly-overview-card">
                            <div class="card">
                                <div class="card-body">
                                  <h5 class="card-title">Income</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">Chart</h6>
                                  <p class="card-text">$120.56</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="expense-by-categories">
                        <div class="row">
                            <h4>Expense By Categories</h4>
                            <div class="col expense-by-categories-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Food & Beverage</h5>
                                        <p class="card-text">$120.56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col expense-by-categories-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Groceries</h5>
                                        <p class="card-text">$120.56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col expense-by-categories-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Household</h5>
                                        <p class="card-text">$120.56</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<!-- jQuery CDN -->
 <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
 <!-- Bootstrap Js CDN -->
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="position:fixed;">
    <div class="modal-dialog">
      <div class="modal-content">
        <form method="POST" class="form-group">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Year Expense</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>        
            <div class="modal-body">
                <label> Please Select Your Year: </label>
                <select id="year" name="year" class="form-control" style="-webkit-appearance:menulist;">
                    <option value="">year</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                    <option value="2024">2024</option>
                    <option value="2025">2025</option>
                    <option value="2026">2026</option>
                    <option value="2027">2027</option>
                    <option value="2028">2028</option>
                    <option value="2029">2029</option>
                    <option value="2030">2030</option>
                </select><br>
                <label> Please Enter Your Annual Salary: </label><br>
                <input type="text" class="form-control" name="annual_salary" placeholder="Annual Salary" required> 
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}